{% extends 'main.html' %}
{% block content %}
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-6">The website is called "Meal.AI". It is different from other meal planning websites because it considers the user's BMI, region, and budget. The website generates a healthy meal plan based on the user's input. The meal plan is more sustainable and cost-efficient.
        <br></br>
            Food waste is a major problem in the United States. Each year, Americans throw away approximately 40 percent of the food they buy. This wasted food costs the average family of four approximately $1,500 per year. Wasted food also has a significant environmental impact.
    <br></br> 
            When food rots in landfills, it produces methane, a greenhouse gas that is more potent than carbon dioxide. In fact, according to the EPA, food waste is the third largest source of methane in the United States.
<br></br>
            Improper dietary habits are less sustainable for several reasons. First, when people eat unhealthy foods, they are more likely to become obese. This increases their risk for chronic diseases such as heart disease, stroke, and diabetes. Second, unhealthy diets are often low in nutrients and fiber, which can lead to deficiencies. Third, unhealthy diets are often high in processed foods, which are more likely to be packaged in unsustainable materials such as plastic.
<br></br>
            A healthy meal plan is important for a college student for several reasons. First, it can help the student maintain a healthy weight. Second, it can help the student get the nutrients they need. Third, it can help the student save money.</h1>
        <p class="col-md-8 fs-4">{{meal.content}}</p>
      </div>
    </div>
</dev>
{% endblock %}