{% extends 'main.html' %}

{% block content %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3" font-style="roboto">Meal.AI</h1>
          <p>Looking to lead a healthier lifestyle but don't know where to start? Look no further than the Healthy Meal Plan app! This app will calculate a personalized meal plan for you based on your BMI, region, and budget. With this app, you'll have all the tools you need to make healthier choices and achieve your goals.</p>
          <p><a class="btn btn-primary btn-lg" href="/register" role="button">Register Now &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Healthy</h2>
            <p>The app will be healthy because it will help users calculate their BMI and find a healthy meal plan for their specific region and budget.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Learn More &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Cost-Efficient</h2>
            <p>The app will be cost efficient because it will help users find the most cost effective and sustainable way to eat healthy. </p>
            <p><a class="btn btn-secondary" href="#" role="button">Learn More &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Sustainable</h2>
            <p> The app will impact the earth by helping users reduce their carbon footprint and eat more sustainably.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Learn More &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    <footer class="container">
      <p>&copy; Meal.AI 2022</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>


{% endblock content %}
